body {
  font-family: Arial, Helvetica;
}

nav, footer {
    display: flex;
    justify-content: space-between;
}

nav ul, footer ul {
  list-style-type: none;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0px;
}

nav li, footer li {
  margin: 5px;
  font-size: 14px;

}

nav li a {
  text-decoration: none;
  color: #5f6368;
}

nav li a:hover {
  text-decoration: underline;
}

.logo-box {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

.search_bar, .search_buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search_buttons button {
  min-width: 140px;
  font-weight: bold;
  color: #757575;
  height: 36px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}