body {
  font-family: Arial, Helvetica;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0px;
}

nav li {
  margin: 5px;
  font-size: 14px;

}

nav li a {
  text-decoration: none;
  color: #5f6368;
}

nav li a:hover {
  text-decoration: underline;
}

.logo-box {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
